/* src/scss/_svg-icons.scss */

/* Example: Color different parts of the grocery basket icon by class */
.basket-body {
    fill: #965505b0;
}
.basket-celery-1 {
    fill: #91dc8b;
}
.basket-celery-2 {
    fill: #75c36f;
}
.basket-celery-3 {
    fill: #91dc8b;
}
.basket-celery-4 {
    fill: #91dc8b;
}
.basket-fruit-leaf {
    fill: #49b583;
}
.basket-apple-body {
    fill: #f57274;
}
.basket-fruit4 {
    fill: #7f40bf;
}
.basket-fruit5 {
    fill: #26619c;
}
.basket-fruit6 {
    fill: #f57274;
}
.basket-baguette {
    fill: #f5cba7;
}
.basket-carrot-body {
    fill: #f67504bf;
}
